@page
@model BookStore1.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Login";
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css">
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="text-center mb-4">Login</h1>

                <form asp-antiforgery="true" method="post" class="shadow p-4 rounded bg-light">
                    <div class="form-header text-center">
                        <h2 class="text-primary">Welcome Back!</h2>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Username" class="font-weight-bold">Username</label>
                        <input asp-for="Input.Username" class="form-control" placeholder="Enter your username" required />
                        <span asp-validation-for="Input.Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password" class="font-weight-bold">Password</label>
                        <input asp-for="Input.Password" type="password" class="form-control" placeholder="Enter your password" required />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <button><a href="/Books/Index" class="btn btn-success">Login</a></button>
                </form>

                <div class="text-center mt-3">
                    <p>If you don't have an account
                        <a href="/Account/Register" class="btn btn-primary">Register Here</a>
                        </a>
                    </p>
                    <button><a href="/Index" class="btn btn-success">Home</a></button>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>
