@page
@model BookStore1.Pages.RegModel
@{
    ViewData["Title"] = "Register";
}

<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-header bg-danger text-white">
                <h5 class="text-uppercase text-center">Registration Form</h5>
                @if (Model.errorMessage.Length>0)
                {
                    <div class ='alert alert-warning alert-dismissible fade show' role='alert'>
                        <strong>@Model.errorMessage</strong>
                    </div>
                }
                @if (Model.succesMessage.Length>0)
                {
                    <div class ='alert alert-warning alert-dismissible fade show' role='alert'>
                        <strong>@Model.succesMessage</strong>
                    </div>
                }                
            </div>
            <div class="card-body">
                <form method = "post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Username"></label>
                        <input class ="form-control" asp-for="Username" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input class ="form-control" asp-for="Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword"></label>
                        <input class="form-control" asp-for="ConfirmPassword" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-sm btn-success text-uppercase rounded-0">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>
