@page
@model BookStore1.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="container mt-5">
    <h1 class="text-center mb-4">Register</h1>

    <form asp-antiforgery="true" method="post" class="shadow p-4 rounded bg-light">
        <div class="form-group">
            <label asp-for="Input.Username" class="font-weight-bold">Username</label>
            <input asp-for="Input.Username" class="form-control" placeholder="Enter your username" />
            <span asp-validation-for="Input.Username" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.Email" class="font-weight-bold">E-mail</label>
            <input asp-for="Input.Email" class="form-control" placeholder="Enter your email" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.Password" class="font-weight-bold">Password</label>
            <input asp-for="Input.Password" class="form-control" placeholder="Enter your password" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.ConfirmPassword" class="font-weight-bold">Confirm Password</label>
            <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm your password" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <button><a href="/Index" class="btn btn-success">Register</a></button>
    </form>

    <div class="text-center mt-3">
        <p>Already have an account? 
        <button><a href="/Account/Login" class="btn btn-secondary">Login Here</a></button>
            </a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
