/* _content/BookStore1/Views/Shared/_Layout.cshtml.rz.scp.css */
/* General styles */
body[b-6cbo69gl0l] {
  padding-top: 60px;
  padding-bottom: 40px;
}

.header[b-6cbo69gl0l],
.footer[b-6cbo69gl0l] {
  background-color: #f8f9fa;
  padding: 10px 0;
  text-align: center;
}

/* Navbar styles */
.navbar[b-6cbo69gl0l] {
  margin-bottom: 20px;
}

.navbar-nav[b-6cbo69gl0l] {
  margin-left: auto;
}

.navbar-brand[b-6cbo69gl0l] {
  font-weight: bold;
  font-size: 1.5rem;
}

.navbar-dark .navbar-nav .nav-link[b-6cbo69gl0l] {
  color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover[b-6cbo69gl0l] {
  color: #e9ecef;
}

/* Container styles */
.container[b-6cbo69gl0l] {
  max-width: 1140px;
}

.body-content[b-6cbo69gl0l] {
  min-height: 400px;
}

/* Footer styles */
.footer[b-6cbo69gl0l] {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #343a40;
  color: #ffffff;
  padding: 10px 0;
}
