@page
@model BookStore1.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">BookStore</h1>
    <p>Welcome to Book Store</p>
    <form method="post">
        <button type="submit" class="btn btn-primary" formaction="/Register">Register</button>
        <button type="submit" class="btn btn-secondary" formaction="/Login">Login</button>
        <button type="submit" class="btn btn-success" formaction="/Cart">Cart</button>
    </form>
</div>
