@page
@model BookStore1.Pages.IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Welcome to BookStore!</h1>
    <p class="lead">Your one-stop shop for all your book needs.</p>
    <hr class="my-4">
    <p>Get started by exploring our features:</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" asp-page="/Account/Register" role="button">Register</a>
        <a class="btn btn-secondary btn-lg" asp-page="/Account/Login" role="button">Login</a>
        <a class="btn btn-success btn-lg" asp-page="/Books/Index" role="button">View Books</a>
        <a class="btn btn-info btn-lg" asp-page="/Cart/Index" role="button">Cart</a>
    </p>
</div>
