@page
@model BookStore1.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">BookStore</h1>
    <p>Welcome to Book Store</p>
    <a href="/Account/Register" class="btn btn-primary">Register</a>
    <a href="/Account/Login" class="btn btn-secondary">Login</a>
    <a href="/Books/Index" class="btn btn-success">View Books</a>
    <a href="/Cart/CreateCart" class="btn btn-success">Cart</a>
</div>
